<%= stylesheet_link_tag    "responsive-tables" %>
<%= javascript_include_tag "responsive-tables" %>
<h1>Available Ingredients</h1>

<table class="responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Food Group</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fillings.each do |filling| %>
      <tr>
        <td><%= filling.title %></td>
        <td><%= filling.description %></td>
        <td><%= filling.price %></td>
        <td><%= filling.food_group %></td>
        <td>
          <ul>
            <li><%= link_to 'Show', filling %></li>
            <li><%= link_to 'Edit', edit_filling_path(filling) %></li>
            <li><%= link_to 'Destroy', filling, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filling', new_filling_path %>
