<%= javascript_include_tag "delivery-form" %>
<div class="row">

  <div id="h1-box">
    <h1>Your Order: Step 2</h1>
    
    <h3>Provide your delivery information:</h3>
      <%= form_tag '/orders', :html => {:'data-abide' => true} do |f| %>
        <%= radio_button_tag(:delivery_method, "pickup", checked = true, id: "radio-pickup") %>
        <%= label_tag(:delivery_method_pickup, "Pickup", ) %>
        <%= radio_button_tag(:delivery_method, "delivery", checked = false , id: "radio-delivery") %>
        <%= label_tag(:delivery_method_delivery, "Delivery") %>
        <br>
        <div class="row">
          <div class="small-5 small-centered columns">
            <div class="hidden" id="delivery-form">
              <%= label_tag(:address_1, "Address line 1") %>
              <%= text_field_tag :address_1 %>   
              <%= label_tag(:address_2, "Address line 2") %>
              <%= text_field_tag(:address_2)%>
              <%= label_tag :city, "City" %>
              <%= text_field_tag :city %>
              <%= label_tag(:state, "State") %>
              <%= text_field_tag :state %>
              <%= label_tag(:zip_code, "Zip code") %>
              <%= text_field_tag :zip_code %>
            </div>
          </div>
        </div>
      <%= submit_tag "Complete Order", class: "button" %>
    <% end %>
    
    <hr id="h1-box">
  </div>

<div class="row">
  <table class="table-fill">
    <thead>
      <tr>
        <th class="text-left"></th>
        <th class="text-left">Item</th>
        <th class="text-left">Fillings</th>
        <th class="text-left">Quantity</th>
        <th class="text-left">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |line_item| %>
        <tr>
          <td class="text-left"><%= image_tag line_item[:item].image.url :thumb %></td>
          <td class="text-left"><h3><%= line_item[:item].name %></h3></td>
          <td class="text-left"><ul>
            <% line_item[:fillings].each do |filling| %>
                <li><%= filling.title %>: <%= number_to_currency(filling.price / 100.0)  %> (extra)</li>
              <% end %> </ul></td>
          </td>
          <td class="text-left"><%= line_item[:quantity] %></td>
          <td class="text-left"><%= number_to_currency(line_item[:price] / 100.0) %></td>
        </tr>
      <% end %>
       <tr>
          <td class="text-left"></td>
          <td class="text-left"></td>
          <td class="text-left"></td>
          <td class="text-left">TOTAL:</td>
          <td class="text-left"><%= number_to_currency(@total_price / 100.0) %></td>
        </tr>
    </tbody>
  </table>
</div>
