<div class="row">
  <div class="large-9 columns">
    <h1>Your Cart</h1>
  </div>
  <% if !current_user.present? %>
  <div class="large-3 columns">
    Please Log In to complete your order
  </div>
  <% else %>
  <div class="large-3 columns">
    <%= form_tag '/orders' do |f| %>
      <%= submit_tag "Place my Order", class: "button" %>
    <% end %>
  </div>
  <%end%>
</div>

  <div class="row">
    <div class="large-9 columns">
    <table>  
      <thead>
        <tr>
          <th></th>
          <th>Item</th>
          <th>Fillings</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |line_item| %>
          <tr>
            <td><%= image_tag line_item[:item].image.url :thumb %></td>
            <td><h3><%= line_item[:item].name %></h3></td>
            <td><% line_item[:fillings].each do |filling| %>
                  <%= filling.title %>: $<%= filling.price / 100 %> (extra),
                <% end %> </td>
            <td><%= form_tag "/cart" do %>
               <input type="number" name="quantity" id="quantity" min="1" max="30" value="<%= line_item[:quantity] %>"/>
               <input type="hidden" name="id", value="<%= line_item[:id] %>" />
               <button type= "submit" class="tiny button" >Update</button>
             <% end %>
            </td> 
            <td>$ <%= line_item[:price] / 100 %></td>
            <td><%= link_to "Remove Item", cart_path(:id => line_item[:id]), method: :delete %>
            </td> 
          </tr>
        <% end %>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>TOTAL:</td>
            <td>$ <%= @total_price /100 %></td>
          </tr>
      </tbody>
    </table>
  </div>




