<%= form_for([:admin, @item]) do |f| %>
  <div class="rows">
    <div class="small-12 columns">
      <h2>Available Fillings</h2>

      <ul class="no-bullet small-block-grid-4">
        <% @all_fillings.each do |filling| %>
          <li><%= check_box_tag "item[filling_ids][]", filling.id, @item.fillings.include?(filling) %>
              <%= label_tag filling.id, filling.title %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
      </div>
      <div>
        <%= f.label :price %>
        <%= f.number_field :price, max: 100000, :required => true %>
      </div>
      <div>
        <div id="tim-poop" data-alert class="alert-box">
          "You must select at least one checkbox"
          <a href="#" class="close">&times;</a>
        </div>
        <%= f.submit class: "button", id: "submit-item" %>
      </div>
    </div>
    <div class="small-6 columns">
      <% if @item.image.exists? %>
        <%= image_tag @item.image.url :medium %><br/>
      <% end %>
      <%= f.label :image, "Attach an Image" %><br />
      <%= f.file_field :image %>
    </div>
  </div>
<% end %>
