<p id="notice"><%= notice %></p>

<h1><%= @item.name %></h1>

<ul>
  <li><%= @item.price%></li>
<ul>
  <li><%= link_to 'Edit', edit_item_path(@item) %></li>
  <li><%= link_to 'Back', items_path %></li>
</ul>
