<div class="row">
  <br>
  <div class="large-6 columns"><h1><%= @item.name %></h1></div>
  <div class="large-6 columns"><%= link_to 'Edit this Item', edit_admin_item_path(@item) %> | <%= link_to 'Back to all Items', admin_items_path %></div>
</div>

<div class="row">
  <div class="small-9 columns">

<% if @item.image.exists? %>
  <%= image_tag @item.image.url :medium %><br/>
  <% else %>
  <%= image_tag "steak.jpg" %>
<% end %>

<ul>
  <li>Price: $<%= number_to_currency(@item.price / 100.0) %></li>
  <li>Available Fillings:</li>
  <ul>
    <% @filling_names.each do |filling|%>
      <li><%= filling %></li>
    <% end %>

  </div>
</div>
