

<%= form_tag '/build_temp' do |f| %>
  <% @item.fillings.each do |filling| %>
      <%= check_box_tag "item[filling_ids][]", filling.id %>
      <%= label_tag("item[filling_ids][]", filling.title) %>
  <% end %>
  <input name="item_id" type="hidden" value="<%= @item.id %>" />
  <input name="quantity" type="hidden" value="1" />
  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
</div>
</div>

