<div class="row">
  <div class="large-12 columns">
    <div id="h1-box"><h1><%= @filling.title %> Details</h1><hr id="h1-box"></div>
  </div>
</div>
<div class="row panel">
  <div class="small-6 columns">
      <p><% if @filling.image.exists? %>
          <%= image_tag @filling.image.url %>
          <% end %></p>
  </div>
  <div class="small-6 columns">
        <ul>
          <li>Description: <%= @filling.description%></li>
          <li>Price: $<%= @filling.price%></li>
          <li>Food Group: <%= @filling.food_group%></li>
          <li>Available in the following menu items:</li>
          <ul>
            <% @filling.items.uniq.each do |item| %>
              <li><%= item.name %></li>
            <% end %>
          </ul>
        </ul>
        <h3><%= link_to "Back to Menu", menu_path%></h3>
  </div>
</div>

