  <table class="responsive" id="get-aligned">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Username </th>
        <th>Items</th>
        <th>Date</th>
        <th>Status</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <% orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.username %></td>
        <td><%= order.items %></td>
        <td><%= order.created_at %></td>
        <td><%= order.state.capitalize %></td>
        <td><%= link_to "View Order", order_path(order) %></li></td>
      </tr>
      <% end %>
    </tbody>
  </table>