<%= stylesheet_link_tag    "responsive-tables" %>
<%= javascript_include_tag "responsive-tables" %>
<div class="row">
  <div id="h1-box"><h1> Your Past Orders</h1><hr id="h1-box"></div>

    <tbody>
      <tr>
        <%= link_to 'All', fetch_orders_path(:state => "all"), :remote => true %>
        <%= link_to 'Paid', fetch_orders_path(:state => "paid"), :remote => true %>
        <%= link_to 'Completed', fetch_orders_path(:state => "completed"), :remote => true %>
        <%= link_to 'Canceled', fetch_orders_path(:state => "canceled"), :remote => true %>
      </tr>
    </tbody>

<div id="grid">
  <%= render partial: "order_table", locals: {orders: @orders}%>
</div>

</div>
