<div class="row">
  <br>
  <div class="small-7 columns"><h1>All Past Orders</h1></div>
  <div class="small-3 columns">
    <div class="filter">
      <label>Filter By Status</label>
        <%= select("order", "filter_state", @states, {include_blank: true}, style: "left: 22%" ) %>
        <%= link_to "Refresh All Orders", admin_orders_path %> 
    </div>
</div>

<table class="table-fill" id="get-aligned">
  <thead>
    <tr>
      <th class="text-center">Order #</th>
      <th class="text-center">Username</th>
      <th class="text-center">Date</th>
      <th class="text-center">Status</th>
      <th class="text-center">Details</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% @orders.each do |order| %>
      <tr class="order" data-state="<%= order.state %>">
        <td class="text-center"><%= order.id %></td>
        <td class="text-left"><%= order.user.username %></td>
        <td class="text-center"><%= order.created_at %></td>
        <td class="text-center"><%= order.state.capitalize %></td>
        <td class="text-center"><%= link_to "View Order", admin_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>

