<div class="row" id='white-bg'>
  <h1>Order #<%= @order.id %></h1>
  <h3> Ordered at: <%= @order.created_at %></h3>
  <h3>Status: <%= @order.state.capitalize %></h3>

  <%= render partial: 'status_links', locals: {order: @order} %>

  <hr>

  <div>
    <% @order.line_items.each do |line_item| %>
      <div class="line_item" >
        <div class="circular" style="background: url(<%= line_item.item.image %>)">
          <%= image_tag line_item.item.image %>
          <h2><%= line_item.item.name.split.map(&:capitalize).join(" ") %></h2>
          <h4><%= line_item.item.fillings.map(&:view_title).join(", ") %></h4>
          qty: <%= line_item.quantity %>

          <p>  $<%= line_item.item.price.to_s.insert(-3, ".") %></p>
        </div>
        <p><%= link_to "Remove Item", admin_remove_item_path(:order => {:id => @order.id, :line_item_id => line_item.id}), method: :put %>
      </div>
          Quantity: <%= form_tag "/admin/update_quantity" do %>
               <input type="number" name="quantity" id="quantity" min="1" max="30" value="<%= line_item.quantity %>"/>
               <input type="hidden" name="line_item_id", value="<%= line_item.id %>" />
               <input type="hidden" name="id", value="<%= @order.id %>" />
               <button type= "submit" class="tiny button" >Update</button>
             <% end %>
        <hr>
    <% end %>
  </div>

  <%= link_to "⇠ Back to Orders", admin_orders_path %>
</div>