
<div class="row">
  <br>
  <h1>Order #<%= @order.id %></h1>
  <h3>Ordered at: <%= @order.created_at %></h3>
  <h3>Status: <%= @order.state.capitalize %></h3>
  <h3>Ordered by: <%= @order.user.first_name %> <%= @order.user.last_name %> (<%= @order.user.email %>)</h3>
  <%= render partial: 'status_links', locals: {order: @order} %>
</div>
<hr id="skinny">

<div class="row">
  <% @order.line_items.each do |line_item| %>
  <div class="small-3 column" id="line_item">
    <%= image_tag line_item.item.image %>
  </div>
  <div class="small-5 column">
    <h2><%= line_item.item.view_name %></h2>
    <h3>Fillings: <br> <%= line_item.fillings.map(&:view_title).join(", ") %></h3>
    <h3>Quantity: <%= line_item.quantity %></h3>
    <h3>Total: <%= number_to_currency(line_item.item.price) %></h3>
    <br>
  </div>
  <div class="small-2 column">
    <% if line_item.order.state == "ordered" || line_item.order.state == "paid" %>
      <h3><%= form_tag "/admin/update_quantity" do %>
           <input type="number" name="quantity" id="quantity" min="1" max="30" value="<%= line_item.quantity %>"/>
           <input type="hidden" name="line_item_id", value="<%= line_item.id %>" />
           <input type="hidden" name="id", value="<%= @order.id %>" />
           <button type= "submit" class="small button" >Update Quantity</button>
         <% end %>
  </div>
  <div class="small-2 column">
    <%= link_to "Remove Item", admin_remove_item_path(:order => {:id => @order.id, :line_item_id => line_item.id}), method: :put, class: "small button" %>
  </div>
<% end %>
</div>
</div>

<div class="row">

  <hr id="skinny">
<% end %>
<div>
  <%= link_to "Back to Orders", admin_orders_path %>
</div>
