<!DOCTYPE html>
<%= stylesheet_link_tag "homepage" %>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= javascript_include_tag "hermano_box" %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<html lang="en">

<head>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
        <li class="name" style="float:left;">
          <h1>
            <a><%= link_to "Home", root_path %></a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><a><%= link_to "View Cart", admin_items_path %></a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a><%= link_to "Menu", menu_path %></a>
            <ul class="dropdown">
              <li><a href="#">Burritos</a></li>
              <li><a href="#">Tacos</a></li>
              <li><a href="#">Tortas</a></li>
              <li><a href="#">Saldas</a></li>
              <li><a href="#">Quesadillas</a></li>
              <li><a href="#">Burrito Bowls</a></li>
              <li class="divider"></li>
              <li><a href="/menu">View Menu →</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a>Account</a>
            <ul class="dropdown">
              <li class="has-dropdown">
                <a href="#" class="">Has Dropdown, Level 1</a>
                <ul class="dropdown">
                  <li><a href="#">Account</a></li>
                  <li><a href="#">Dropdown Options</a></li>
                  <li><a href="#">Level 2</a></li>
                </ul>
              </li>
              <li>
                <a>
                  <%if current_user && current_user.is_admin? %>
                    <li><a><%= link_to "Admin Dashboard", admin_index_path %></a></li>
                  <%end%>
                </a>
              </li>
              <li><label>Need an account?</label></li>
              <li><a href="#">Sign up</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <% if current_user %>
            <li><a><%= link_to "Sign out", logout_path, method: :delete%></a></h4></li>
          <%end%>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
  </div>
</head>

<body class="pattern_bg">
  <div class="content_box">
    <div class="wrapper wrapper--main">
      <section class="container">

        <div class="row" id="hermano-says">
          <div class="large-12 columns" >
              <div class="jorge_the_bird"><%= image_tag "el_gordo_hermano.png", size: "300x350" %></div>
              <div class="bubble"><div><h1 class="hermano-says"></h1><br><h2><%= @hermano_said %></hr></div></div>
            <hr/>
          </div>
        </div>
      </section>
    </div>
  </div>

      <section id="site-content">
        <div class="row">
          <div class="large-4 columns" id="container">
            <div class="button_holder">
              <div class="image1"><a class="circle-link"><span class="text">View Menu</span></a></div>
            </div>
            <h4>This is a content section.</h4>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
          </div>

          <div class="large-4 columns" id="container">
            <div class="button_holder">
              <div class="image1"><a class="circle-link"><span class="text">View Menu</span></a></div>
            </div>
            <h4>This is a content section.</h4>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
          </div>

          <br>

          <div class="large-4 columns" id="container" style="margin: 0 20px;">
            <div class="button_holder">
              <div class="image1"><a class="circle-link"><span class="text">View Menu</span></a></div>
            </div>
            <h4>This is a content section.</h4>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
          </div>

        </div>


        <div class="row">
          <div class="large-12 columns">

            <div class="panel">
              <h4>Get in touch!</h4>

              <div class="row">
                <div class="large-9 columns">
                  <p>We'd love to hear from you, you attractive person you.</p>
                </div>
                <div class="large-3 columns">
                  <a href="#" class="radius button right">Contact Us</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
  </div>
  </div>
</body>

<footer class="wrapper wrapper--footer"><h1>This is a Footer</h1></footer>
</html>
