<nav class="top-bar" data-topbar>
  <ul class="title-area">

    <li class="name">
      <h1>
        <a>
          <%= link_to "Admin Dashboard", admin_index_path %>
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Our Tools</a>
        <ul class="dropdown">
          <li><a><%= link_to "View Orders", admin_orders_path %></a></li>
          <li><a><%= link_to "Edit Fillings", admin_fillings_path %></a></li>
          <li><a><%= link_to "Edit Items", admin_items_path %></a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a><%= link_to "Going Home?", root_path %></a></li>
      <li class="divider"></li>
      <li><a>
        <% if current_user %>
            <%= link_to "Sign Out", logout_path, method: :delete %>
        <%end%>
      </a></li>
    </ul>
  </section>
</nav>
