<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name" style="float:left;">
        <h1>
          <a><%= link_to "Los Amigos Gordos", root_path %></a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a><%= link_to "Our Food", menu_path %></a>
          <ul class="dropdown">
            <% @items.each do |item| %>
              <li><a><%= link_to "Build a #{item.name}", "/build_item/#{item.id}" %></a></li>
              <li class="divider"></li>
            <% end %>
            <li><a><%= link_to "Browse Menu →", menu_path %></a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a><%= link_to "View Cart", cart_index_path %></a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a>Account</a>
          <ul class="dropdown">
              <% if !current_user.present? %>
              <%= form_tag login_path do %>
            <li><label>Got an account?</label></li>
            <li class="has-dropdown">
              <li>
                <form data-abide>
                  <div>
                    <input type="text" name="username" placeholder="Let's eat!" required>
                  </div>
              </li>
              <li>
                  <div>
                    <input type="password" name="password" placeholder="Let me look away..."required>
                  </div>
              </li>
              <li>
                  <input type="submit" class="oppress-the-button">
                </form>
              </li>
            </li>
            <% end %>
            <% end %>
            <% if current_user %>
              <li class="divider"></li>
              <li><a><%= link_to "My Past Orders", orders_path %></a></li>
            <% end %>
            <% if current_user && current_user.is_admin? %>
              <li class="divider"></li>
              <li><a><%= link_to "Admin Dashboard", admin_index_path %></a></li>
            <% end %>
            <% if !current_user %>
              <li><label>Need an account?</label></li>
              <li><a href="#">Sign up</a></li>
            <% end %>
          </ul>
        </li>
        <li class="divider"></li>
        <% if current_user %>
        <li><a><%= link_to "Sign out", logout_path, method: :delete%></a></h4></li>
        <%end%>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</div>
