<div class="row">
  <div class="small-12 small-centered columns"></br>
    <h2>Welcome to the Los Gordos Amigos</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <h2> Admin Dashboard,</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
      <h1> Señor <%= current_user.first_name %> </h1>
  </div>
</div>

<div class="row">
  <div class="large-4 small-centered columns">
    <%= render partial: "shared/hermano", locals: { hermano_said: @hermano_said } %>
  </div>
  <hr>
</div>

<div class="row">
  <div class="large-5 columns">
    <h3> Business Stats </h3>
      <h3>Highest Selling Product</h3>
      <%= image_tag @top_item.image, size: "400x400" %>
      <h3><%= @highest_selling_product[1].count %> <%= @top_item.view_name.downcase.pluralize %> sold</h3>
      <h3>Total Revenue: <%= number_to_currency(@total_revenue / 100.0) %></h3>
  </div>

  <div class="large-7 columns">
    <h3> Recent Orders </h3><%= link_to "View all orders", admin_orders_path, class: "button" %>
    <div class="orders">
      <table class="table-fill" id="get-aligned">
        <thead>
          <tr>
            <th class="text-center">Order Number</th>
            <th class="text-center">Username</th>
            <th class="text-center">Status</th>
            <th class="text-center">Details</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @latest_orders.each do |order| %>
            <tr class="order" data-state="<%= order.state %>">
              <td class="text-center"><%= order.id %></td>
              <td class="text-center"><%= order.user.username %></td>
              <td class="text-center"><%= order.state.capitalize %></td>
              <td class="text-center"><%= link_to "View Order", admin_order_path(order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
