<%= stylesheet_link_tag "responsive-tables" %>
<div class="row">
  <%= render partial: "shared/title_box", locals: { text: "#{current_user.first_name}'s Past Orders" }  %>

  <table class="table-fill" id="get-aligned">
    <thead>
      <tr>
        <th class="text-center">Order #</th>
        <th class="text-center">Purchased Products</th>
        <th class="text-center">Date</th>
        <th class="text-center">Status</th>
        <th class="text-center">Details</th>
      </tr>
    </thead>

    <tbody class="table-hover">
      <% @orders.each do |order| %>
      <tr>
        <td class="text-center"><%= order.id %></td>
        <td class="text-left"><%= order.items_purchased %></td>
        <td class="text-center"><%= order.created_at %></td>
        <td class="text-center"><%= order.state.capitalize %></td>
        <td class="text-center"><%= link_to "View Order", order_path(order) %></li></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
