<%= stylesheet_link_tag    "responsive-tables" %>
<div class="row" id="white-bg">
  <%= render partial: "shared/title_box", locals: { text: "#{current_user.first_name}'s Past Orders" }  %>



  <table class="table-fill" id="get-aligned">
    <thead>
      <tr>
        <th class="text-left">Order #</th>
        <th class="text-left">Purchased Products</th>
        <th class="text-left">Date</th>
        <th class="text-left">Status</th>
        <th class="text-left">Details</th>
      </tr>
    </thead>

    <tbody class="table-hover">
      <% @orders.each do |order| %>
      <tr>
        <td class="text-left"><%= order.id %></td>
        <td class="text-left"><%= order.items %></td>
        <td class="text-left"><%= order.created_at %></td>
        <td class="text-left"><%= order.state.capitalize %></td>
        <td class="text-left"><%= link_to "View Order", order_path(order) %></li></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
