<div class="row" id="white-bg">
  <div class="small-8 column">
    <h1>Completed Order #<%= @order.id %></h1>
    <h3> Ordered at: <%= @order.created_at %></h3>
    <h3>Status: <%= @order.state.capitalize %></h3>
  </div>
  <div class="small-3 column">
    <h3><%= @order.delivery_method %></h3>
    <% if @order.delivery_method == 'delivery' %>
      <h3>To: <%= current_user.address_1 %></h3> 
      <h3><%= current_user.address_2 %> </h3>
      <h3><%= current_user.city %>, <%= current_user.state %> </h3> 
      <h3><%= current_user.zip_code %></h3>
    <% end %>
  </div>
  <hr>

    <% @order.line_items.each do |line_item| %>
      <div class="small-3 column" id="line_item">
        <%= image_tag line_item.item.image %>
      </div>
      <div class="small-5 column">
        <h2><%= line_item.item.view_name %></h2>
        <h3>Fillings: <br> <%= line_item.fillings.map(&:view_title).join(", ") %></h3>
        <h3>Quantity: <%= line_item.quantity %></h3>
        <h3>Total: <%= number_to_currency(line_item.item.price / 100.0) %></h3>
      </div>
      <div class="small-3 column">
      </div>
  
      <hr id="skinny">
    <% end %>
   <div class="small-12 column">
    <br><br>
    <h3>Thank you for ording from Los Amigos Gordos. Stay hungry my friend!</h3>
    <br>
    <%= link_to "View all my Past Orders", orders_path %>
  </div>
</div>
