<div class="row" id="white-bg">
  <h1>Order #<%= @order.id %></h1>
  <h3> Ordered at: <%= @order.created_at %></h2>
  <h3>Status: <%= @order.state.capitalize %></h2>
  <hr>

    <% @order.line_items.each do |line_item| %>
      <div class="small-3 column" id="line_item">
        <%= image_tag line_item.item.image %>
      </div>
      <div class="small-9 column">
        <h2><%= line_item.item.view_name %></h2>
        <h3><%= line_item.item.fillings.map(&:view_title).join(", ") %></h3>
        <h3>Quantity: <%= line_item.quantity %></h3>
        <h3>Total: <%= line_item.item.view_price %></h3>
      </div>
      <hr id="skinny">
    <% end %>

  <%= link_to "View all my Past Orders", orders_path %>
</div>
