<%= form_for([:admin, @filling], html: {multipart: true}) do |f| %>
    <div class="row">
      <div class="small-6 columns">
        <% if @filling.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@filling.errors.count, "error") %> prohibited this filling from being saved:</h2>

            <ul>
            <% @filling.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= f.label :title %>
          <%= f.text_field :title, :required => true %>
        </div>
        <div>
          <%= f.label :description %>
          <%= f.text_area :description, rows: 3, :required => true %>
        </div>
        <div>
          <%= f.label :price %>
          <%= f.number_field :price, max: 100000, :required => true %>
        </div>
        <div>
          <%= f.label :food_group %>
          <%= f.text_field :food_group, :required => true %>
        </div>
        <div>
          <%= f.submit class: "button" %>
        </div>
      </div>
    <div class="small-6 columns">
      <% if @filling.image.exists? %>
        <%= image_tag @filling.image.url :medium %><br/>
      <% end %>
      <%= f.label :image, "Attach an Image" %>
      <%= f.file_field :image %>
    </div>
  </div>
<% end %>
