<%= form_for(@filling, html: {multipart: true}) do |f| %>
  <% if @filling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filling.errors.count, "error") %> prohibited this filling from being saved:</h2>

      <ul>
      <% @filling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :food_group %><br>
    <%= f.text_field :food_group %>
  </div>
  <div>
    <% if @filling.image.exists? %>
      <%= image_tag @filling.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach an Image" %><br />
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
