<%= stylesheet_link_tag    "responsive-tables" %>
<%= javascript_include_tag "responsive-tables" %>
<div class="row">
  <br>
  <div class="large-6 columns"><h1>Available Ingredients</h1></div>
  <div class="large-6 columns"><%= link_to 'Add New Filling', new_admin_filling_path, class: "button" %></div>
</div>

  
<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Title</th>
      <th class="text-left">Description</th>
      <th class="text-left">Price</th>
      <th class="text-left">Food Group</th>
      <th class="text-left">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @fillings.each do |filling| %>
      <tr>
        <td class="text-left"><%= filling.title %></td>
        <td class="text-left"><%= filling.description %></td>
        <td class="text-left"><%= filling.price %></td>
        <td class="text-left"><%= filling.food_group %></td>
        <td class="text-left">
          <ul>
            <li><%= link_to 'Show', admin_filling_path(filling) %> | <%= link_to 'Edit', edit_admin_filling_path(filling) %> | <%= link_to 'Destroy', admin_filling_path(filling), method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



