<p id="notice"><%= notice %></p>

<h1><%= @filling.title %></h1>

<% if @filling.image.exists? %>
  <%= image_tag @filling.image.url %><br/>
  <% else %>
  <%= image_tag "steak.jpg" %>
<% end %>

<ul>
  <li><%= @filling.description%></li>
  <li><%= @filling.price%></li>
  <li><%= @filling.food_group%></li>

<ul>
  <li><%= link_to 'Edit', edit_admin_filling_path(@filling) %></li>
  <li><%= link_to 'Back', admin_fillings_path %></li>
</ul>
