<div class="row">
  <br>
  <div class="large-6 columns"><h1><%= @filling.title %></h1></div>
  <div class="large-6 columns"><%= link_to 'Edit this Filling', edit_admin_filling_path(@filling) %> | <%= link_to 'Back to all Fillings', admin_fillings_path %></div>
</div>

<div class="row">
  <div class="small-3 columns">
    <ul>
      <li><%= @filling.description%></li>
      <li><%= number_to_currency(@filling.price / 100.0) %></li>
      <li><%= @filling.food_group%></li>
    </ul>
  </div>
  <div class="small-8 columns">

    <% if @filling.image.exists? %>
      <%= image_tag @filling.image.url :medium %><br/>
    <% else %>
      <%= image_tag "steak.jpg" %>
    <% end %></br>
  </div>
</div>
