<body>


<h1>~ Menu ~</h1>


<div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;" style="">
  <dl class="sub-nav">
    <dd data-magellan-arrival="meats" class=""><a href="#meats">Meats</a></dd>
    <dd data-magellan-arrival="veggies" class=""><a href="#veggies">Veggies</a></dd>
    <dd data-magellan-arrival="salsas" class=""><a href="#salsas">Salsas</a></dd>
    <dd data-magellan-arrival="extras" class=""><a href="#extras">Extras</a></dd>
  </dl>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.magellan.js"></script>
<hr>

<p>Choose a vessel, then find any fillings you like to add to it!</p>

<h2>Which will you choose?</h2>

<h3><a href='#'>Burritos</a></h3>
<h3><a href='#'>Tacos</a></h3>
<h3><a href='#'>Burritos Bowls</a></h3>
<h3><a href='#'>Quesadillas</a></h3><br/>

<h2>Fillings</h2><br/>


<h3 data-magellan-destination="meats">Meats</h3>
<a name="meats"></a>

  <div class="row">
    <div class="large-5 columns">
      <% @meats.each_with_index do |m, index| %>
      <% if index <= 1  %>
      <h4><%= m.title %></h4>
      <p><%= m.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
      <%end%><%end%>
    </div>

    <div class="large-5 columns">
       <% @meats.each_with_index do |m, index| %>
       <% if index > 1  %>
      <h4><%= m.title %></h4>
      <p><%= m.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
       <%end%><%end%>
    </div>
  </div><br/>

<h3 data-magellan-destination="veggies">Veggies</h3>
<a name="veggies"></a>


  <div class="row">
    <div class="large-5 columns">
      <% @veggies.each_with_index do |v, index| %>
      <% if index <= 1  %>
      <h4><%= v.title %></h4>
      <p><%= v.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
      <%end%><%end%>
    </div>

    <div class="large-5 columns">
       <% @veggies.each_with_index do |v, index| %>
       <% if index == 2 || index == 3   %>
      <h4><%= v.title %></h4>
      <p><%= v.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
       <%end%><%end%>
    </div>
     <div class="large-5 columns">
       <% @veggies.each_with_index do |v, index| %>
       <% if index == 4  %>
      <h4><%= v.title %></h4>
      <p><%= v.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
       <%end%><%end%>
      </div>
  </div><br/>

 <div class="row">
    <div class="large-5 columns">
      <% @salsas.each_with_index do |s, index| %>
      <% if index <= 1  %>
      <h4><%= s.title %></h4>
      <p><%= s.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
      <%end%><%end%>
    </div>

    <div class="large-5 columns">
       <% @salsas.each_with_index do |s, index| %>
       <% if index == 2 || index == 3   %>
      <h4><%= s.title %></h4>
      <p><%= s.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
       <%end%><%end%>
    </div>
     <div class="large-5 columns">
       <% @salsas.each_with_index do |s, index| %>
       <% if index == 4  %>
      <h4><%= s.title %></h4>
      <p><%= s.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
       <%end%><%end%>
      </div>
  </div><br/>

 <div class="row">
    <div class="large-5 columns">
      <% @extras.each_with_index do |e, index| %>
      <% if index <= 1  %>
      <h4><%= e.title %></h4>
      <p><%= e.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
      <%end%><%end%>
    </div>

    <div class="large-5 columns">
       <% @extras.each_with_index do |e, index| %>
       <% if index == 2 || index == 3   %>
      <h4><%= e.title %></h4>
      <p><%= e.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
       <%end%><%end%>
    </div>
     <div class="large-5 columns">
       <% @extras.each_with_index do |e, index| %>
       <% if index == 4  %>
      <h4><%= e.title %></h4>
      <p><%= e.description %></p>
      <img src="http://placehold.it/400x300&text=[img]"/>
       <%end%><%end%>
      </div>
  </div><br/>
</div>
</body>