<body>

<div class="large-9 medium-8 columns">

<div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;" style="">
  <dl class="sub-nav">
    <dd data-magellan-arrival="burrito" class=""><a href="#burrito">Burrito</a></dd>
    <dd data-magellan-arrival="taco" class=""><a href="#taco">Taco</a></dd>
    <dd data-magellan-arrival="burrito_bowl" class=""><a href="#burrito_bowl">Burrito Bowl</a></dd>
    <dd data-magellan-arrival="quesadilla" class=""><a href="#quesadilla">Quesadilla</a></dd>
  </dl>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.magellan.js"></script>
<hr>


<h1>Fillings</h1>



<h3 data-magellan-destination="burrito">Burrito</h3>
<a name="burrito"></a>

<h4> Meats </h4>

<% @meats.each do |m| %>


<%= m.title %><br/><br/>
<%= m.description %><br/><br/>

<%end%>


<h4> Veggies </h4>

<% @veggies.each do |m| %>


<%= m.title %><br/><br/>
<%= m.description %><br/><br/>

<%end%>

<h4> Salsas </h4>

<% @salsas.each do |m| %>


<%= m.title %><br/><br/>
<%= m.description %><br/><br/>

<%end%>

<h4> Extras </h4>

<% @extras.each do |m| %>


<%= m.title %><br/><br/>
<%= m.description %><br/><br/>

<%end%>


</body>