<p id="notice"><%= notice %></p>

<h1><%= @item.title %></h1>

<ul>
  <li><%= @item.description%></li>
  <li><%= @item.price%></li>
  <li><%= @item.food_group%></li>

<ul>
  <li><%= link_to 'Edit', edit_item_path(@item) %></li>
  <li><%= link_to 'Back', items_path %></li>
</ul>
