<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<ul>
  <li><%= @user.email%></li>
  <li><%= @user.username%></li>
  <li></li>

  <p><%= @user_roles.each {|role| role } %>

<ul>
  <li><%= link_to 'Edit', edit_admin_user_path(@user) %></li>
  <li><%= link_to 'Back', admin_user_path %></li>
</ul>