<div class="row">
  <div class="large-12 columns text-center">
    <div id="h1-box">
      <h1><%= @item.name %> Builder</h1>
      <p>Select your desired fillings.</p>
      <hr id="h1-box">
    </div>
  </div>
</div>

<div class="row">

  <%= form_tag '/build_item' do |f| %>

    <% @fillings.each do |food_group, fillings| %>

      <div class="small-12 columns">
        <h1>Add <%= food_group.capitalize %></h1>
        <hr>
      </div>

      <div class"small-2 small-centered columns">
        <ul class="ch-grid">
          <% fillings.each do |filling| %>
            <div class="small-12 medium-5 large-3 end columns">
              <li>
                <div class="ch-item">
                  <div class="ch-info-wrap">
                    <div class="ch-info">
                      <div class="ch-info-front" style="background-image: url(<%= filling.image %>);"></div>
                      <div class="ch-info-back">
                        <h3><%= filling.view_title %></h3>
                        <p>
                          <%= check_box_tag "item[filling_ids][]", filling.id %>
                          <%= label_tag("item[filling_ids][]", filling.title) %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
    <input name="item_id" type="hidden" value="<%= @item.id %>" />
    <input name="quantity" type="hidden" value="1" />
    <input name="id" type="hidden" value="<%= Random.rand(1000000) %>" />
    <%= submit_tag "Add to Cart", class: "large button" %>
  <% end %>

</div>
