<!DOCTYPE html>
<%= stylesheet_link_tag "homepage" %>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>

<html lang="en">

<head>
  <%= render "shared/admin_nav_bar" %>
  <%= render "shared/flash" %>
</head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>

<footer class="wrapper wrapper--footer">
  <h1>This is a Footer</h1>
</footer>
</html>

<script>
document.write('<script src=js/vendor/' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
