<!DOCTYPE html>
<html>
<head>
  <title>Los Amigos Gordos :: Admin Tool</title>
  <%= stylesheet_link_tag "homepage" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render "shared/admin_nav_bar" %>
  <%= render "shared/flash" %>
  <section id="admin-content">
    <div class="row">
     <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>
  </section>
</body>

</html>


