<!DOCTYPE html>
<html>
<head>
  <title>Los Amigos Gordos</title>
  <%= stylesheet_link_tag "homepage" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "hover_description" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="pattern_bg">
  <%= render partial: "shared/nav_bar", locals: { :items => @items } %>
  <%= render partial: "shared/flash" %>
  <h3 data-magellan-destination="top"></h3>
  <a name="top"></a>
  <div class="content_box">
    <div class="wrapper wrapper--main">
    </div>
  </div>

  <section id="site-content">
    <hr/>
    <%= yield %>
  </section>
</body>

<footer class="fixed_footer">
  <% if current_page?(root_path) %>
    <%= render partial: "shared/hermano" %>
  <% end %>
</footer>
</html>
