<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Amigos Gordos</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>

  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1><a href="/">Los Amigos Gordos</a></h1>
        <p>Custom Food, Made Fresh</p>
      </div>

      <%= form_tag login_path do %>

          <div class="row-right">
          <div class="large-12
           columns">
            <div class="row collapse">

            <% if flash[:error] %>


              <div class="small-3 columns">
                <%= text_field_tag :username, nil, placeholder: "Username" %>
              </div>
              <div class="small-3 columns">
                <%= password_field_tag :password, nil, placeholder:  "Password" %>
              </div>

              <div class="small-6 columns">
                <ul class="stack-for-small button-group">
                  <li><input type='submit' class="tiny button" value="Log in"></li>
                  <li><a href="/register" class="tiny button">Sign Up!</a></li>
                </ul>
              </div>

              <div class="small-5 columns">
                <small class="error">Invalid entry</small>
              </div>


            <% else %>

              <div class="small-3 columns">
                <%= text_field_tag :username, nil, placeholder: "Username" %>
              </div>
              <div class="small-3 columns">
                <%= password_field_tag :password, nil, placeholder:  "Password" %>
              </div>

              <div class="small-6 columns">
                <ul class="stack-for-small button-group">
                  <li><input type='submit' class="tiny button" value="Log in"></li><%end%>
                  <li><a href="/register" class="tiny button">Sign Up!</a></li>
                </ul>
              </div>


            <% end %>

            </div>
          </div>
        </div><hr>

        <p id="notice"><%= notice %></p>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Amigos Gordos Restaurant, 2014</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to "Admin", admin_dashboard_path %></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
