<!DOCTYPE html>
<%= stylesheet_link_tag "homepage" %>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "hover_description" %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<html lang="en">

<head>
  <%= render partial: "shared/nav_bar", locals: { :items => @items } %>
  <%= render partial: "shared/flash" %>
</head>

<body class="pattern_bg">
  <div class="content_box">
    <div class="wrapper wrapper--main">
    </div>
  </div>


  <section id="site-content">
    <hr/>
    <%= yield %>
  </section>
</body>

<footer class="fixed_footer">
  <% if current_page?(root_path) %>
    <%= render partial: "shared/hermano" %>
  <% end %>
</footer>
</html>
