<!DOCTYPE html>
<%= stylesheet_link_tag "homepage" %>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= javascript_include_tag "hermano_box" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<html lang="en">

<head>
  <%= render "shared/nav_bar", :items => @items %>
  <%if flash[:error] %>
  <div data-alert class="alert-box warning">
    Invalid Username or Password,
    Please Log in or Sign up.
    <a href="#" class="close">&times;</a>
  </div>
  <%end%>
  <%if flash[:alert] %>
  <div data-alert class="alert-box success radius">
    You have logged out, Come back soon!
    <a href="#" class="close">&times;</a>
  </div>
  <%end%>
</head>

<body class="pattern_bg">
<% if current_page?(root_path) %>
  <div class="content_box">
    <div class="wrapper wrapper--main">
      <section class="container">

        <div class="row" id="hermano-says">
          <div class="large-12 columns" id="move-up">
            <div class="jorge_the_bird"><%= image_tag "el_gordo_hermano.png", size: "300x350" %></div>
            <div class="bubble"><div><h1 class="hermano-says"></h1><br><h2><%= @hermano_said %></hr></div></div>
              <hr/>
            </div>
          </div>
        </section>
      </div>
    </div>
<% end %>

    <section id="site-content">
      <%= yield %>
    </section>
  </div>
</body>

<footer class="wrapper wrapper--footer"><h1>This is a Footer</h1></footer>
</html>
