<!DOCTYPE html>
<html lang="en">
  <head>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a><%= link_to "Home", root_path %></a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <ul class="title-area">
      <% if current_user %>
        <li class="name">
          <h1><a><%= link_to "Sign out", logout_path, method: :delete%></a></h1>
        </li>
      <%end%>
    </ul>
     <ul class="title-area">
      <%if current_user && current_user.is_admin? %>
       <li class="name">
          <h1><a><%= link_to "Admin Index", admin_index_path %></a></h1>
        </li>
      <%end%>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><a><%= link_to "View Cart", admin_items_path %></a></li>
        <li class="divider"></li>
          <li class="has-dropdown">
            <a>Account</a>
            <ul class="dropdown">
              <li><label>Section Name</label></li>
              <li class="has-dropdown">
                <a href="#" class="">Has Dropdown, Level 1</a>
                <ul class="dropdown">
                  <li><a href="#">Account</a></li>
                  <li><a href="#">Dropdown Options</a></li>
                  <li><a href="#">Level 2</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
          <li class="divider"></li>
        </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a><%= link_to "Menu", menu_path %></a>
          <ul class="dropdown">
            <li><a href="#">Burritos</a></li>
            <li><a href="#">Tacos</a></li>
            <li><a href="#">Tortas</a></li>
            <li><a href="#">Saldas</a></li>
            <li><a href="#">Quesadillas</a></li>
            <li><a href="#">Burrito Bowls</a></li>
            <li class="divider"></li>
            <li><a href="/menu">View Menu →</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Amigos Gordos</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <h3 data-magellan-destination="top"></h3>
    <a name="top"></a>
  </head>

  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1><a href="/">Los Amigos Gordos</a></h1>
        <p>Custom Food, Made Fresh</p>
      </div>
      <%if !current_user.present? %>
        <%= form_tag login_path do %>
          <div class="row-right">
            <div class="large-12 columns">
              <div class="row collapse">
                <form data-abide>
                  <div class="small-3 columns">
                    <input type="text" name="username" placeholder="Username" required>
                  </div>
                  <div class="small-3 columns">
                    <input type="password" name="password" placeholder="Password"required>
                  </div>
                <div class="small-6 columns">
                  <ul class="stack-for-small button-group">
                    <li><input type='submit' class="tiny button" value="Log in"></li>
                    <li><a href="/register" class="tiny button">Sign Up!</a></li>
                  </ul>
                </div>
                </form>
              <% end %>
            <%end%>
          </div>
        </div>
      </div><hr>

    <%if flash[:error] %>
      <div data-alert class="alert-box warning round">
        Invalid Username or Password,
        Please Log in or Sign up.
        <a href="#" class="close">&times;</a>
      </div>
    <%end%>
    <%if flash[:alert] %>
      <div data-alert class="alert-box success radius">
        You have logged out, Come back soon!
        <a href="#" class="close">&times;</a>
      </div>
    <%end%>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Amigos Gordos Restaurant, 2014</p>
        </div>
      </div>
    </div>
  </footer>
</html>