<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Amigos Gordos</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="large-9 columns">
        <h1><a href="/">Los Amigos Gordos</a></h1>
        <p>Custom Food, Made Fresh</p>
      </div>

      <%= form_tag login_path do %>
        <div class="row">
          <div class="large-15 columns">
            <div class="row collapse">
              <div class="small-4 columns">
                <%= text_field_tag :username, nil, placeholder: "Username" %>
              </div>
              <div class="small-3 columns">
                <%= password_field_tag :password, nil, placeholder:  "Password" %>
              </div>
              <div class="small-5 columns">
                <ul class="stack-for-small button-group">
                  <%= submit_tag "Log In" %>
        <% end %>
                  <li><a href="/register" class="tiny button">Sign Up!</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><hr>


        <p id="notice"><%= notice %></p>



    <%= yield %>
    <%= javascript_include_tag "application" %>






  </body>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to "Admin", admin_dashboard_path %></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>



