<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Amigos Gordos</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>

  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1><a href="/">Los Amigos Gordos</a></h1>
        <p>Custom Food, Made Fresh</p>
      </div>

      <% if current_user %>
        <div class="small-7 columns">
        <h4 id="notice"><%= notice %></h4>
        </div>
        <div class="small-3 columns">
          <%= link_to "Sign Out", logout_path, method: :delete %>
        </div>

      <% else %>
        <%= form_tag login_path do %>
          <div class="row-right">
            <div class="large-12 columns">
              <div class="row collapse">
                <form data-abide>
                  <div class="small-3 columns">
                    <input type="text" name="username" placeholder="Username" required>
                  </div>
                  <div class="small-3 columns">
                    <input type="password" name="password" placeholder="Password"required>
                  </div>
                <div class="small-6 columns">
                  <ul class="stack-for-small button-group">
                    <li><input type='submit' class="tiny button" value="Log in"></li>
                    <li><a href="/register" class="tiny button">Sign Up!</a></li>
                  </ul>
                </div>
                </form>
              <% end %>
            <% end %>
          </div>
        </div>
      </div><hr>


    <%if flash[:alert]  %>
      <div data-alert class="alert-box success radius">
        You have logged out, Come back soon!
        <a href="#" class="close">&times;</a>
      </div>
    <%end%>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Amigos Gordos Restaurant, 2014</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to "Admin", admin_index_path %></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
