<!DOCTYPE html>
<html lang="en">

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="pattern_bg">
  <%= render partial: "shared/nav_bar", locals: { :items => @items } %>
  <%= render partial: "shared/flash", id: "flash" %>
  <h3 data-magellan-destination="top"></h3>
  <a name="top"></a>

  <section class="header">
    <div class="row">
      <div class="small-12 medium-3 large-3 columns" id="head-holder" ><%= image_tag "travis-da-hermano.png" %></div>
      <div class="small-12 medium-3 large-3 columns" id="head-holder" ><%= image_tag "herb-da-hermano.png" %></div>
      <div class="small-12 medium-3 large-3 columns" id="head-holder" ><%= image_tag "tim-da-hermano.png" %></div>
      <div class="small-12 medium-3 large-3 columns" id="head-holder" ><%= image_tag "sam-da-hermano.png" %></div>
    </div><hr>
  </section>

  <div class="large-12 columns"  id="site-content">
    <%= yield %>
  </div><hr id="bottom">
</body>

<footer class="row">
  <div class="footer">
    <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
          <h3>Copyright © 2014 Los Amigos Gordos | <%= link_to "The Awesome Developers", "http://github.com/Tmee/Dinner-Dash" %></h3>
        </div>
      </div>
    </div>
</footer>

</html>
